.DS_Store
*.o
out/
.vscode/
.idea/
Datasets/
.ipynb_checkpoints/
__pycache__/
leelaz_opencl_tuning
Engine/build/.cmake/
Engine/build/CMakeFiles/
Engine/build/Testing/
Engine/build/cmake_install.cmake
Engine/build/CMakeCache.txt
Engine/build/compile_commands.json
Engine/build/Deep_ViCTORIA
Engine/build/Makefile