.DS_Store
*.o
.vscode/
.idea/
.ipynb_checkpoints/
__pycache__/
.cmake/
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
compile_commands.json
GAiA
GAiA.exe
GAiA.exe.stackdump
Makefile
libevaluator.a
libresnet.a
libstockfish.a
bin/
lib/